<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ramul's Life Story</title>
    <link rel="stylesheet" href="styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
</head>
<body>
    <!-- HEADER -->
    <%- include("partials/header.ejs") %>

    <!-- MAIN -->

    <div class="home">
        <h1><b>Rama</b> Andhika Pratama</h1>
        <h2>Life stories and Blogs</h2>
        <img class="banner-photo" src="sky.gif" alt="sky">

        <!-- profile -->
        <div class="profile">
            <img class="profile-photo" src="me.jpg" alt="my picture">
            <div class="bio">
                <h2>Hi there!</h2>
                <p>I am Rama, a computer science student with a strong interest in full-stack programming, AI, and machine learning. I've worked on several projects, primarily in front-end development, including a web app for Malam Apresiasi MIPA 2024. Yes, i have done several projects before, but as i said most of them are front end-related. So i decided to join this course in order to become the ultimate full stack web developer. Shout out if you came from the same course! </p>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <%- include("partials/footer.ejs") %>
</body>
</html>